// @import "../../Input.scss";
.div-code {
  overflow: inherit;
  background-color: #282a36;
  color: "white";
  border-color: "white";
  border-radius: 0 0 0.75rem 0.75rem;
  box-shadow: 0 0.25rem 0.3rem rgba(0,0,0, 0.1);
}
.overflow-inherit {
  overflow: inherit !important;
}
.nav {
  overflow-y: hidden;
  overflow-x: auto;
}

.div-code .code {
  background-color: #282a36;
  color: "white";
  border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
}
.nav-tabs {
  border-bottom: 0 solid #dee2e6;
}
