@import "../../Input.scss";

.form-control {
  border-radius: 2;
  border: 0;
  background-color: $colorBody !important;
}


.tableLabel {
  width: 300px !important;
}

.form-settings{
  width: 80px !important;
}
