$colorBody: #282828;

$colorDark: #5836e5; //#3b2152
$colorMid: #878787;
$colorLight: #d4d4d4;
$colorCOMPLEMENTARY: #171717;

$colorDark_Font: #f0f0f0; //#3b2152
$colorMid_Font: #e6e6e6;
$colorLight_Font: #b4b4b4;
$colorCOMPLEMENTARY_Font: #b4b4b4;

$colorInputChecked: #5836e5;


$colorHeader_Font: #ffffff;

$colorInactive: #959595;
$colorActive: #239645;
$colorInfo: #032870;

$font_family: "Segoe UI", sans-serif;

$Black: #000000;
