$colorBody: #f1f1f1;
$colorDark: #595959; //#3b2152
$colorMid: #878787;
$colorLight: #d4d4d4;
$colorCOMPLEMENTARY: #025939;

$colorDark_Font: #ffffe7; //#3b2152
$colorMid_Font: #000000;
$colorLight_Font: #000000;
$colorCOMPLEMENTARY_Font: #ffffff;

$colorInputChecked: #025939;


$colorHeader_Font: #ffffff;

$colorInactive: #959595;
$colorActive: #239645;
$colorInfo: #032870;

$font_family: "Roboto", sans-serif;

$Black: #000000;
