@import "../../Input.scss";



.text-Link {
  font-size: 18px;
  text-decoration: none;
}
.actived {
  color: $colorDark_Font !important;
  border-bottom: 1px solid $colorMid;
}
.active {
  color:$colorDark_Font !important;
}

.active .active-SVG{
  fill:$colorDark
}
.nav-border{
  background-color: $colorBody;

}
.is-not-active:not(.active){
  color: $colorLight_Font !important;
}
.badge-alarm{
  background-color: #8a0000;
  font-size: small;
  font-weight:400;
  height: 25px;
  width: 40px;
  color:$colorDark_Font !important;
}

.navbar-toggler {
  transition: 1s;
}

.navbar-toggler {
  border: unset;
}
.navbar-toggler:focus {
  border: unset;
}
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 0 !important;
  align-items: center;
}
.text-Link {
  color: black;
  font-weight: 500;
}
.text-Link:hover {
  color: $colorDark_Font !important;
  transition: color 0.2s;
}
//transform:rotate(90deg) scale(0.7);opacity: 0; transition: all 0.1s ease-in-out;
.toogle-open {
  overflow: auto;
}
.close {
  width: 0% !important;
}
.navbar-brand {
  font-weight: 500;
}
